@model IEnumerable<UserData>

    @*Home Section*@
<section class="home" id="home">
    @foreach(var obj in Model){
        <div class="social">
            <a href="https://github.com/Leonard1z"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/leonard-zaberxha-7b6503207/"><i class='bx bxl-linkedin'></i></a>
            <a href="https://www.google.com/gmail/about/"><i class='bx bxl-gmail'></i></a>
        </div>
        <div class="home-img">
            <img src="/images/123.png" alt="">
        </div>
        <div class="home-text">
            <span>Hello, I'm</span>
            <h1>@obj.Name @obj.LastName</h1>
            <h2>@obj.Work</h2>
            <p>@obj.Description</p>
            <a href="#contact" class="btn">Contact Me</a>
        </div>
        }
</section>

